/*Test App Style Sheet*/

body {
		background-image: url(LOVELaf.jpg);
		margin: 0px;
		padding: 0px;
		position: relative;
}

.banner{
	background-color:#000000 !important;
	box-shadow: 4px 4px 4px 4px #000000;
}

.overall{
	 background-color: #37474F;
	 width: 1000px;
	 height: 950px;
	 padding-top: 10px;
	 margin-right: auto;
	 margin-left: auto;
}


span {
		font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
		color: #fff; 
		padding-right: 0.5em;
}

.img-thumbnail {
		float: right;
}

#map_canvas {
    height: 60%;
    width: 100%;
}

/*
div.map-card {
    background-color:ffffff;
}
*/

.box-shadow {
    box-shadow: 3px 3px 3px #263238;
}

/*
.middle-column {
	text-align: center;
	background-color: #c9c1b8 ;
}

/* #map_canvas {#deb887
			position: relative;
            } */


.angular-google-map-container {
								position: absolute;
								top: 0;
								bottom: 0;
								right: 0;
								left: 0;
}

                            
.margin-bottom-1em {
    margin-bottom: 1em;
}

.text-center {
	text-align: center;
}

.btn-color {
			color: #fff !important;
			background-color: #B71C1C !important;
			border-color: #B71C1C !important;
}

.btn-link {
		color: #fff !important;
		font-size: 12pt !important;
		
}



