/*Test App Style Sheet*/

body {

		margin: 0px;
		padding: 0px;
		position: relative;
        
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.background-img {
    position: fixed;
    
    background-repeat: repeat;
    background-image: url('ylafayettesign.jpeg');
    width:100%;
    height:100%;
    opacity: 0.5;
}

.banner{
	background-color:#000000 !important;
	box-shadow: 4px 4px 4px 4px #000000;
    position: fixed;
    z-index: 10;
}

.banner-spacer{
    padding-bottom: 5em;
}

.overall{
	 background-color: #37474F;
	 padding-top: 10px;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     border-radius: 2%;
     padding: 1em;
}

.overallDetails{
	 background-color: #37474F;
	 padding-top: 10px;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     border-radius: 2%;
     padding: 1em;
	 margin-left: 2em;
}

.buttonOverall{
	background-color: #37474F;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 10%;
	padding: 1em;
	margin-bottom: 2em;
}

.details_text{
	color: white;
	font-size; 12pt;
	
}



.cursive-text {
		font: 400 40px 'Great Vibes', Helvetica, sans-serif;
		color: #fff; 
		padding-right: 0.5em;
}

.feedback {
		float: right;
}

#map_canvas {
    height: 60%;
    width: 100%;
}


div.map-card {
    background-color:ffffff;
}


.box-shadow {
    box-shadow: 3px 3px 3px #263238;
}


.middle-column {
	text-align: center;
	background-color: #c9c1b8 ;
}

 #map_canvas {
		border-radius: 2%;
            } 


.angular-google-map-container {
								position: absolute;
								top: 0;
								bottom: 0;
								right: 0;
								left: 0;
								box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

                            
.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-top-2em {
    margin-top: 2em;
}

.text-center {
	text-align: center;
}

.btn-color {
			color: #fff !important;
			background-color: #B71C1C !important;
			border-color: #B71C1C !important;
}

.btn-link {
		color: #fff !important;
		font-size: 12pt !important;
		
}

.dropdown-menu{
	background-color: #B71C1C !important;
	opacity: 0.7 !important;
	
}


.dropdown {
	margin-left: 2em;
}

.btn-primary{
	margin-left: 11em;
}
[ng-click] {
	cursor: pointer;
	
}

ul li a:hover {
  background-color: RED !important;
  opacity: 1.0 !important:
}

.parksandrec{
	float: right;
}

@media only screen and (max-width: 991px) {
    .cursivetext {
       font: 400 20px 'Great Vibes', Helvetica, sans-serif;
    }
}

